/* fixes the skin tone selector hand */
.diversityEmojiItemImage-1pfGqI {
  background-size: cover;
  background-image: url("https://cdn.discordapp.com/attachments/1081910402201423916/1117113760767803402/q7jGrwh.png") !important;
}

/* sheet_picker-44 */
.sprite-2lxwfc {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023550931687706704/sheet_picker-44.png") !important;
}
  
/* sheet_color_tone0-64 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/a1f9b84138986841d913ceef0667b6c1.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023550937635225621/sheet_color_tone0-64.png") !important;
}

/* sheet_color_tone0-80 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/ce5e1375632f91acaa8fe62226742fa3.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023550942370594907/sheet_color_tone0-80.png") !important;
}

/* sheet_color_tone0-96 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/147a7fa1fe77a056cef93c3cac458a4e.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023550947860947034/sheet_color_tone0-96.png") !important;
}

/* sheet_color_tone1-64 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/c98245de17b5595d326270eebb644ae4.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023550952298520646/sheet_color_tone1-64.png") !important;
}

/* sheet_color_tone1-80 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/be8b2f306f97f70706413d225d282040.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023550957721755728/sheet_color_tone1-80.png") !important;
}

/* sheet_color_tone1-96 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/93a5d06577df0a32674ac2b4d4600791.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023550966152319066/sheet_color_tone1-96.png") !important;
}

/* sheet_color_tone2-64 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/2d1ce673d299c6002323eafa51600bed.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023550969612619887/sheet_color_tone2-64.png") !important;
}

/* sheet_color_tone2-80 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/61a29b71548ec95fe4ced0ff716cf267.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023550974364753990/sheet_color_tone2-80.png") !important;
}

/* sheet_color_tone2-96 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/5f01a06cc198b5f0b5400c46ef708958.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023550980794617916/sheet_color_tone2-96.png") !important;
}

/* sheet_color_tone3-64 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/41b4b63a98bc21363c8cfe56c407d141.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023550987216109648/sheet_color_tone3-64.png") !important;
}

/* sheet_color_tone3-80 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/d2b91552b4dff24c493066c374ecbf8c.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023550992299593768/sheet_color_tone3-80.png") !important;
}

/* sheet_color_tone3-96 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/5f01a06cc198b5f0b5400c46ef708958.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023550998242918430/sheet_color_tone3-96.png") !important;
}

/* sheet_color_tone4-64 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/f450b64e9b233b8a7ce1d53b4548e358.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023551002772787240/sheet_color_tone4-64.png") !important;
}

/* sheet_color_tone4-80 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/45dab724ef0aa6dec87ba41639ed11e9.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023551006665080913/sheet_color_tone4-80.png") !important;
}

/* sheet_color_tone4-96 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/9b5c4853dd27a02c02f73e73abb7d40e.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023551012553883648/sheet_color_tone4-96.png") !important;
}

/* sheet_color_tone5-64 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/d512d2ff660f928e69410c0ec88d44d2.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023551017612226630/sheet_color_tone5-64.png") !important;
}

/* sheet_color_tone5-80 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/759f151c0a438e0f6ab1a65576ae717f.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023551022305640458/sheet_color_tone5-80.png") !important;
}

/* sheet_color_tone5-96 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/c171aafd546fdb88b6d3f9307ab8f607.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023551030228701205/sheet_color_tone5-96.png") !important;
}

/* sheet_large-64 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/62ed7720accb1adfe95565b114e843c6.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023551038961242112/sheet_large-64.png") !important;
}

/* sheet_large-80 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/d218674f309bcbfbf56faf6074df6347.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023551374438441040/sheet_large-80.png") !important;
}

/* sheet_large-96 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/ad5991c1546ca96136cfe8048d4ee488.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023551373977075754/sheet_large-96.png") !important;
}

/* sheet_picker-44 */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/6c0b536092ac6ed407566ded00bb51d8.png")'] {
  background-image: url("https://cdn.discordapp.com/attachments/844876269916651520/1023551065829953586/sheet_picker-44.png") !important;
}